
header {

    background: red

}

nav {
    background: cyan
}

article {

    background: red

}

section {

    background: green; color: white;

}

aside {

    background: grey

}

footer{

    background: pink
}

